<footer >
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook mt-3"></i>
            <i class="fa-brands fa-square-instagram mt-3"></i>
            <i class="fa-brands fa-linkedin mt-3"></i>
        </div>
        <div class="f-info-brand ">Made wih &#9829; by Jagruti</div>
        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links ">
            <a href="/listings">Privacy Terms</a> 
        </div>
    </div>
</footer>